*.ese
*.rwy
*.sct
EKDK/Settings/LoginProfiles.txt
EKDK/Plugins/TopSky/TopSkyCPDLChoppieCode.txt
EKDK/Settings/VoiceChannels.txt
EKDK/Plugins/ALB/ALBLoader.log
EKDK/Plugins/FlightStrips/flightstrips.log
EKDK/Plugins/FlightStrips/flightstripsloader.log
EKDK/Plugins/FlightStrips/flightstrips_user.ini
